body {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

/* Loader Styles */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Show the content after loading */
body.loaded .loader-wrapper {
    display: none;
}

body.loaded .content {
    display: block;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 50px;
    z-index: 1;
    width: 250px;
    padding: 20px;
    background: white;
}

#info label {
    font-size: 13px;
}

#info .texture-slider {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

#info .texture-option {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #1d201c;
    object-fit: cover; /* Ensures the image covers the square */
}

#info .texture-option.selected {
    border-color: #007bff;
}

.file-upload-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.file-upload-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-upload-label {
    cursor: pointer;
    padding: .25rem .5rem;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: .25rem;
    color: #333;
    width: 100%;
    font-size: 13px;
}

.file-upload-label:hover {
    background: #f0f0f0;
}

#cropper-container {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #ffffff;
    display: none;
    z-index: 10;
}

/* Ensure the cropper-popup uses flexbox for alignment */
.cropper-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Ensure the cropper-inner takes the full height and width of its container */
.cropper-inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    background-color: #ff0000;
    border-radius: 50%;
    padding: 4px 10px 6px;
    font-weight: bold;
    color: #fff;
    line-height: 20px;
}

#cropper-image {
    max-width: 100%;
    height: auto;
}