:root {
    --font-size: 12px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
    height: 100vh;
    background-color: #f0f0f0;
    font-size: var(--font-size);
}

/* Loader Styles */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Show the content after loading */
body.loaded .loader-wrapper {
    display: none;
}

/* Style for the progress bar loader start */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

#progress-bar {
    width: 80%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar-fill {
    width: 0;
    height: 20px;
    background-color: #3498db;
    transition: width 0.2s ease-in-out;
}

#progress-text {
    margin-top: 10px;
    font-size: 16px;
    color: #f1f1f1;
}

/* Style for the progress bar loader end */

.left-controls {
    position: absolute;
    top: 50px;
    left: 0;
}

.right-controls {
    position: absolute;
    top: 50px;
    right: 0;
}

.controls {
    width: 260px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    max-height: calc(100vh - 100px);
}

.controls-inner {
    padding: 10px;
}

.right-controls .cards {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: white; */
}

.preview {
    flex-grow: 1;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview canvas {
    width: 100%;
    height: 100%;
}

.control-group {
    margin-bottom: 5px;
}

.control-group label {
    /* display: block; */
    margin-bottom: 5px;
    font-weight: 600;
    white-space: normal;
    overflow-wrap: break-word;
}

.control-group input,
.control-group select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.control-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.dropdown-button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    /* Adjust the width to accommodate image and text */
    display: flex;
    align-items: center;
    text-align: left;
}

.selected-image {
    width: 40px;
    /* Size of the selected image thumbnail */
    height: 40px;
    margin-right: 5px;
    display: none;
    /* Hide by default, will show when an image is selected */
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 300px;
    /* Adjust height as needed */
    overflow-y: auto;
    width: 100%;
    /* Matches the width of the button */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    white-space: break-spaces;
}

.dropdown-item img {
    width: 40px;
    /* Adjust the size of the images */
    height: 40px;
    margin-right: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dropdown-item span {
    flex: 1;

    /* Ensures the text takes up remaining space */
}

.dropdown-item:hover {
    background-color: #e0e0e0;
}

.dropdown-item.selected {
    background-color: #e0e0e0;
}

.control-group .color-box {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    margin-right: 5px;
    display: inline-block;
    border-radius: 4px;
    flex-shrink: 0;
}

.control-group .header-toggle-label {
    font-weight: normal;
}

.control-group .header-toggle-input {
    margin-top: 5px;
}

.control-group .file-upload-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.control-group .file-upload-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.control-group .file-upload-label {
    display: block;
    cursor: pointer;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #ccc;
    /* border-radius: .25rem; */
    color: #333;
    /* width: 100%; */

    font-weight: normal;
}

.control-group .file-upload-label:hover {
    background: #f0f0f0;
}

#cropper-container {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #ffffff;
    display: none;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
}

/* Ensure the cropper-popup uses flexbox for alignment */
.cropper-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

/* Ensure the cropper-inner takes the full height and width of its container */
.cropper-inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    background-color: #ff0000;
    border-radius: 50%;
    padding: 4px 10px 6px;
    font-weight: bold;
    color: #fff;
    line-height: 20px;
}

#cropper-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#close-button,
#crop-button {
    cursor: pointer;
    font-size: var(--font-size);
}

.horizontal-buttons {
    overflow-x: auto;
}

.btn {
    font-size: var(--font-size);
}

.hidden {
    display: none !important;
}

/* Set the controls wrapper to position relative to enable absolute positioning of children */
.controls-wrapper {
    /* position: relative; */
    /* padding: 10px; */
}

/* Position the left button */
.left-controls .toggle-controls-button {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

/* Position the right button */
.right-controls .toggle-controls-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.measurement_label {
    /* color: #ffffff; */
    /* font-family: sans-serif; */
    /* padding: 2px; */
    /* background: rgba(0, 0, 0, 1); */
    /* font-size: 16px; */
    /* border-radius: 5px; */
}

.controls .accordion-item {
    margin-bottom: 5px;
}

.controls .accordion-button,
.controls .accordion-body {
    padding: 10px;
}

.add-hangers button {
    position: relative;
}
.add-hangers button .loaderBack {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset for exact centering */
    width: 100%;
    height: 100%;
    background-color: #ffffff42;
}
.add-hangers button img {
    width: 30px; /* Set a specific width for the loader */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset for exact centering */
}

.modelWaitingloader {
    /* border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto; */
    background-color: white;
    border-radius: 10px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    height: 100px;
}
#loadingText {
    background-color: white;
    color: black;
    font-size: 16px;
}

.extraModel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
}
#closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    color: black;
    background-color: white;
    border: 0;
    border-radius: 5px;
}
#closeButtonAR {
    width: 25px;
    height: 25px;
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
#formBase {
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    color: black;
    width: 350px;
    position: relative;
}
#FormSubmitionForMonday {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
#formCloseBtn {
    position: absolute;
    right: 25px;
    top: 19px;
    color: gray;
    font-size: 17px;
    border: 0;
    background-color: transparent;
}
#formCloseBtn:hover {
    background-color: #f0f0f0;
    border-radius: 6px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    color: black;
}

.modal .modal-footer {
    display: flex;
    justify-content: flex-end;
}
#confirModelCloseButtton {
    border: 0;
    background: white;
    width: 29px;
    height: 30px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#confirModelCloseButtton:hover {
    background-color: #f0f0f0;
    border-radius: 6px;
}

/* login / register style ---------------------- */
.loginFormDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.registerFormDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.openLoginForm,
.openRegisterForm {
    border: 0;
    background: transparent;
    color: blue;
    font-size: 13px;
}
#loginRegisterClose {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
}
#responseErr {
    display: none;
    color: red;
}
#Login input:focus,
#Register input:focus {
    border-color: #007bff;
    outline: 2px solid #80bdff;
    /* outline-offset: 2px;*/
}
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container input {
    width: -webkit-fill-available;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container input[type="button"]:hover {
    background-color: #0056b3;
}

.switch-form {
    text-align: center;
    margin-top: 10px;
}

.switch-form a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.switch-form a:hover {
    text-decoration: underline;
}
span {
    padding-left: 8px;
}

/* Responsive design */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 15px;
    }

    .form-container input {
        padding: 8px;
        font-size: 14px;
    }

    .form-container h2 {
        font-size: 18px;
    }
}

@media (max-width: 360px) {
    .form-container {
        padding: 10px;
    }

    .form-container input {
        padding: 6px;
        font-size: 12px;
    }

    .form-container h2 {
        font-size: 16px;
    }
}

/* login / register style ---------------------- */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 450px) {
    .controls {
        width: 170px;
        overflow-y: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: white;
        max-height: calc(100vh - 100px);
        font-size: 10px;
    }
    .modelWaitingloader {
        background-color: white;
        border-radius: 10px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 14px;
        height: 72px;
    }
    #loadingText {
        background-color: transparent;
        font-size: 10px;
    }
}
/* ar model loader --------------------------- */

.ar-loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    color: white;
    font-family: Arial, sans-serif;
}

.ar-loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

.ar-progress-bar {
    width: 80%;
    max-width: 300px;
    height: 20px;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.ar-progress-fill {
    width: 0%;
    height: 100%;
    background-color: #3498db;
    transition: width 0.3s ease;
}

.ar-loading-text {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* ar model loader --------------------------- */
